{% load static %}
{% extends 'revisor/base.html' %}
{% block content %}
<div class="main-content">
    <div class="content-card" style="max-width: 500px;">
        <h2>Link Enviado</h2>
        <p>Enviamos um link para redefinição de senha para o seu e-mail, se uma conta com este endereço existir. Por favor, verifique sua caixa de entrada e a pasta de spam.</p>
        <a href="{% url 'login' %}" class="generic-button" style="margin-top: 20px; text-decoration: none; display: inline-block; padding: 12px 30px;">Voltar ao Login</a>
    </div>
</div>
{% endblock %}
