{% extends 'revisor/base.html' %}
{% block content %}
<div class="main-content">
    <div class="content-card" style="max-width: 500px;">
        <h2>Crie uma Nova Senha</h2>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.errors }}
                <input type="password" name="new_password1" placeholder="Nova senha" required>
                {{ form.new_password2.errors }}
                <input type="password" name="new_password2" placeholder="Confirme a nova senha" required>
                <button type="submit" style="margin-top: 15px;">Redefinir Senha</button>
            </form>
        {% else %}
            <p>O link para redefinição de senha é inválido ou já foi utilizado. Por favor, solicite uma nova redefinição.</p>
            <a href="{% url 'password_reset' %}" class="generic-button" style="margin-top: 20px; text-decoration: none; display: inline-block; padding: 12px 30px;">Tentar Novamente</a>
        {% endif %}
    </div>
</div>
{% endblock %}