{% load static %}
{% extends 'revisor/base.html' %}
{% block content %}
<div class="main-content">
    <div class="content-card" style="max-width: 500px;">
        <h2>Alterar Senha</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.old_password.errors }}
            <input type="password" name="old_password" placeholder="Senha atual" required>
            
            {{ form.new_password1.errors }}
            <input type="password" name="new_password1" placeholder="Nova senha" required>

            {{ form.new_password2.errors }}
            <input type="password" name="new_password2" placeholder="Confirme a nova senha" required>
            
            <button type="submit" style="margin-top: 15px;">Alterar Senha</button>
        </form>
    </div>
</div>
{% endblock %}
