{% load static %}
{% extends 'revisor/base.html' %} {# Certifique-se que você tem um base.html #}
{% block content %}
<div class="main-content">
    <div class="content-card" style="max-width: 500px;">
        <h2>Redefinir Senha</h2>
        <p>Por favor, insira seu endereço de e-mail. Enviaremos um link para você redefinir sua senha.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.email.errors }}
            <label for="id_email" style="display:none;">E-mail:</label>
            <input type="email" name="email" autocomplete="email" required id="id_email" placeholder="Seu e-mail de cadastro">
            <button type="submit" style="margin-top: 15px;">Enviar Link</button>
        </form>
    </div>
</div>
{% endblock %}
